.table {
  width: 80%;
  table {
    width: 100%;
  }
  table, td, th{
    border: 1px solid #ddd;
    border-collapse: collapse;
  }
  th {
    padding: 8px 20px;
  }
  td {
    padding: 15px 10px;

    button {
      border: 1px solid #ddd;
      background: #FFF;
      padding: 6px 20px;
      border-radius: 4px;
      transition: all 0.3s ease 0s;
    }

    button:hover {
      background: rgb(240, 240, 76);
      color: #fff;
      border: 1px solid transparent;
    }
  }
}