.form {
  padding: 30px;
  width: 40%;
  border: 1px solid #eee;
  border-radius: 4px;
  &__title {
    margin-top: 0;
    margin-bottom: 15px;
  }

  input {
    width: 100%;
    border: 1px solid #eee;
    margin-bottom: 8px;
    padding: 5px 8px;
    border-radius: 4px;
    outline: none;
  }
}
